$white: #FFF;

.vliller--header {
    background: #FFFFFF url(../img/header-velo2.png) no-repeat center center;
    background-size: cover;
}

.vliller--footer {
    color: $white;
    background-color: #AA2C45;
}