h2 {
    font-weight: 100;
    font-size: 38px;
    margin: 0.5em 0;
}

p {
    font-size: 16px;
}

.vliller--bike-bg {
    color: $white;
    background: #9f041b url(../img/header.png) no-repeat center center;
    background-size: cover;
}

.vliller--box-padding {
    padding: 6em 2em;
}

.vliller--header--logo {
    margin: 2em 0;
    min-width: 20%;
}

.vliller--header--store-logo {
    margin: 0.5em;
    min-width: 15%;
}

.vliller--download--info {
    color: $white;
    opacity: 0.6;
    margin: 0.5em 0;
}

.vliller--footer {
    color: $white;
    background-color: #AA2C45;
}